[Desktop Entry]
Name=Discord PTB - EDM115
StartupWMClass=discord
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
GenericName=Internet Messenger
Exec=gnome-terminal -- sudo /path/to/launch-discord.sh -b ptb -bd true -u edm115
Icon=discord-ptb
Type=Application
Categories=Network;InstantMessaging;
Path=/usr/bin
